@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

body {
  @apply bg-zinc-50 text-zinc-900 antialiased dark:bg-black dark:text-white;
}

html.dark {
  color-scheme: dark;
}

html.light {
  color-scheme: light;
}

.leaflet-container {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}
